@import '../../../scss/style.scss';

.leave-container {
  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-family: $unbounded;
      text-align: start !important;
    }
  }
  .card-section {
    .mb-4 {
      padding: 10px !important;

      .customs-card {
        height: 100px !important;
        font-family: $mont;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #000;
        border-radius: 10px !important;

        &:hover {
          background-color: #f0f0f0;
          cursor: pointer;
        }
      }
    }
  }

  .input-section {
    .input-box {
      .default {
        font-family: $mont;
        text-align: start !important;
      }
    }
  }

  .table-responsive {
    .table-container {
      background-color: red !important;

      .table-heading {
        font-family: $mont;
        font-size: 16px;
        font-weight: 800;
        text-align: start !important;
      }

      .table-body {
        .table-avatar-container {
          // width: 200px !important;
          height: auto !important;
          display: flex;
          align-items: start !important;
          justify-content: flex-start !important;
          gap: 1rem;

          .info {
            display: flex;
            align-items: center;
            justify-content: center;

            .name {
              text-align: start !important;
              font-family: $mont;
              font-size: 14px !important;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}
